<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="APP" value="ProcessName"/>
		<add key="PATH" value="../file/"/>
		<add key="INTERVAL" value="30000"/>
		<add key="DBUSE" value="../file/dbUse"/>
		<add key="FOOD" value="../file/food"/>
		<add key="REST" value="../file/rest"/>
		<add key="FileWatchPath" value="..\file\"/>
		<add key="FileWatchFilter" value="config.ini"/>
		<add key="Test" value="true"/>
	</appSettings>
</configuration>